<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<h2>Add Course</h2>
		<hr>
		<%= form_tag '/course/create' do  %>
			<%= label_tag :course_name, "Course Name" %>
			<%= text_field_tag :course_name, "" ,name: "course[course_name]", style: "margin-bottom: 15px;",placeholder: "Course Name", class: "input-group form-control", required: "", autofocus: "" %>
			<%= label_tag :language, "Language" %>
			<%= select_tag :language, options_for_select([ 'Java', 'Javascript', 'C#+', 'PHP', 'C++', 'Python', 'C', 'SQL', 'Ruby', 'Objective-C' ]), :prompt => 'Select One', style: "margin-bottom: 15px;",name: "course[language]", class: "input-group form-control", required: "", autofocus: "" %>
			<%= label_tag :level, "Level" %>
			<%= select_tag :level, options_for_select([ 'Beginner', 'Intermediate', 'Advanced']), :prompt => 'Select One', style: "margin-bottom: 15px;", class: "input-group form-control", required: "", name: "course[level]",autofocus: "" %>
			<%= label_tag :provider, "Provider" %>
			<%= select_tag :provider, options_for_select([ 'Udemy', 'Lynda', 'Tuts+', 'Facebook', 'Google', "Youtube" ]), :prompt => 'Select One', style: "margin-bottom: 15px;", class: "input-group form-control" ,name: "course[provider]", required: "", autofocus: "" %>
			<%= label_tag :intro, "Description" %>
			<%= text_area_tag :intro, "" ,name: "course[intro]", style: "margin-bottom: 15px;", placeholder: "Description", class: "input-group form-control", required: "", autofocus: "" %>
			<%= submit_tag "Add Course", class: "btn btn-danger btn-lg btn-block" %>
		<% end %>
	</div>
	<div class="col-lg-3"></div>	
</div>			